body{
background-color:  white;
color: black;
margin-left: 20px;
}
.bfit{
    text-decoration: none;
    color: skyblue;
}

.bfit:hover{
    text-decoration: underline;
    color: yellow;
}

.site_adj{
    height: 500px;
}

.dec{
    list-style: none;
}

.sk_sizeUp{
    font-size: 30px;
}

.abt_sizeUp{
    font-size: 30px;
}

.title_sizeUp{
    font-size: 60px;
}
